* {
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    border: 0;
}

body {
    background-image: linear-gradient(180deg,
            hsl(240deg 100% 20%) 0%,
            hsl(266deg 95% 29%) 48%,
            hsl(277deg 91% 37%) 68%,
            hsl(285deg 91% 45%) 83%,
            hsl(293deg 100% 50%) 100%);
    background-attachment: fixed;
    display: flex;
}

header{
    display: flex;
}

.centro{
    width: 500px;
    height: 500px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    box-shadow: 6px 5px 20px 0px rgba(0, 0, 0, 0.76);
    display: flex;
}

.avatar{
    height: 200px;
    width: 200px;
    background-image: url(img/login.png);
    background-size: contain;
    margin-top: auto;
    margin-bottom: auto;
}